html, body {
    margin: 0;
    padding: 0;

}
* {
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;

}

.topbar {
    background-color: #023047;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;

}

.sidebar {
    background-color: #8ecae6;
    grid-column: 1;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    min-width: 200px;
}

.main-content {

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.logo {
    color: white;
    padding-left: 5vw;

}

.inbox, .today, .projects {
    padding-top: 20px;
    font-size: 20px;
}

.inbox, .today {
    display: flex;
    padding-right: 90px;
    margin-top: 10px;

}

.inbox, .today, .newProject {
    background: none;
    border: none;
    
}

.inbox:hover, .today:hover, .newProject:hover {

    cursor: pointer;
}

.inbox {

}

.newProject {
    font-size: 20px;
}

.sidebarText {
    margin-top: 10px;
}